{% extends "base.html" %}

{% block content %}

<h1>🏠 Real Estate Property Management</h1>

<p>
Manage Owners, Properties, Tenants, Rentals and Payments easily.
</p>

<div class="dashboard">

<a href="/owners" class="card">👤 Owners</a>

<a href="/locations" class="card">📍 Locations</a>

<a href="/properties" class="card">🏢 Properties</a>

<a href="/tenants" class="card">🧑 Tenants</a>

<a href="/agents" class="card">🤝 Agents</a>

<a href="/rentals" class="card">📄 Rentals</a>

<a href="/payments" class="card">💰 Payments</a>

<a href="/maintenance" class="card">🛠 Maintenance</a>

<a href="/queries" class="card">📊 Run Queries</a>

</div>

{% endblock %}